.nav {
  margin-left: 95px;
  margin-right: 95px;
  height: 75px;
  border: 0;
  border-radius: 25px;
  padding: 0;
  background-image: url("default_no_image_for_post.png");
}

.signed-in-status {
  margin-left: 20px;
}

#welcome-username {
  float: right;
  font-size: 20px;
  margin-left: 15px;
}

#user-portrait {
  margin-right: 135px;
}

#username {
  float: right;
  margin-right: 20px;
}

#logo {
  float: left;
  margin-top: -10px;
}

#welcome-message {
  float: left;
  font-size: 35px;
  margin-left: 15px;
}

#signout-link {
  float: right;
  font-size: x-small;
  text-decoration: none;
  margin-right: 90px;
}

#sign-in-fb {
  font-size: 15px;
  margin-left: 15px;
}

#notices-container {
  text-align: center;
}

br {
   display: block;
   margin: 5px 0;
}

p {
  color: #000000;
  margin: 0;
  padding: 0;
}

span {
  color: #A1A1A1;
  margin: 0;
  padding: 0;
}

#sort-contents {
  margin-left: 20px;
}

#first-sort-button {
  float: left;
  margin-left: 60px;
  margin-top: -20px;
}

.sort-buttons {
  float: left;
  margin-left: 10px;
  margin-top: -20px;
}

#create-post-contents {
  float: left;
  margin-top: 5px;
  margin-left: 40px;
}

.post-buttons {
  float: right;
  margin-right: 10px;
  margin-top: -20px;
}

#paging-contents {
  text-align: center;
}

.posts-container {
  margin-left: 130px;
  margin-right: 130px;
  margin-top: -15px;
  border-radius: 25px;
}

.thumbnail {
  margin: 10px;
  margin-right: 15px;
  margin-left: 25px;

  box-shadow: 10px 10px 5px #888888;
  padding: 0;
  float: left;
}

.post-titles {
  float: left;
  font-size: 20px;
  margin-top: 30px;
  padding: 0;
}

.post-titles > a {
  display: inline;
  text-decoration: none;
  font-family: 'arial', 'sans-serif';
}

.tiny {
  font-family: 'arial', 'sans-serif';
  font-size: x-small;
}

.upvote-button {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
}

